* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #161616;
  overflow-x: hidden;
  width: 100vw;
  height: 1500px;
  font-family: "Poppins", "sans-serif";
}

@media only screen and (max-width: 767px) {
  #content-container {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (max-content)[2];
        grid-template-rows: repeat(2, -webkit-max-content);
        grid-template-rows: repeat(2, max-content);
    grid-row-gap: 40px;
  }
  #content-container .cont-tag {
    font-family: "Poppins", "sans-serif";
    color: #fefefe;
    font-size: 14px;
    font-weight: 600;
  }
  #content-container #search-wrapper {
    display: -ms-grid;
    display: grid;
    height: 50px;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    position: -webkit-sticky;
    position: sticky;
    background-color: #161616;
    top: 0;
  }
  #content-container #search-wrapper .wrap {
    background-color: transparent;
  }
  #content-container #search-wrapper #search-container {
    width: 95%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 20px;
    -ms-grid-columns: max-content auto;
        grid-template-columns: -webkit-max-content auto;
        grid-template-columns: max-content auto;
    background-color: #171717;
    border-radius: 15px;
    height: 55px;
    overflow: hidden;
    padding: 0px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    margin-top: 20px;
    top: 0;
    left: 0;
    right: 0;
  }
  #content-container #search-wrapper #search-container #search-icon {
    height: 18px;
    opacity: 30%;
  }
  #content-container #search-wrapper #search-container input[type=text] {
    background-color: transparent;
    border: none;
    font-family: "Poppins", "sans-serif";
    color: #fefefe;
    font-weight: 500;
    font-size: 14px;
    outline: none;
  }
  #content-container #search-wrapper #search-container input[type=text]::-webkit-input-placeholder {
    opacity: 30%;
    color: #fefefe;
  }
  #content-container #search-wrapper #search-container input[type=text]:-ms-input-placeholder {
    opacity: 30%;
    color: #fefefe;
  }
  #content-container #search-wrapper #search-container input[type=text]::-ms-input-placeholder {
    opacity: 30%;
    color: #fefefe;
  }
  #content-container #search-wrapper #search-container input[type=text]::placeholder {
    opacity: 30%;
    color: #fefefe;
  }
  #content-container #categories-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: max-content auto;
        grid-template-rows: -webkit-max-content auto;
        grid-template-rows: max-content auto;
    grid-row-gap: 20px;
    width: 95%;
    margin: 0 auto;
  }
  #content-container #categories-container #categories-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2] (90px)[4];
        grid-template-rows: repeat(2, auto) repeat(4, 90px);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }
  #content-container #categories-container #categories-grid .cat {
    border-radius: 20px;
    background-color: red;
  }
  #content-container #categories-container #categories-grid .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
  }
}
/*# sourceMappingURL=explore.css.map */