* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font: 'Poppins', 'sans-serif';
$bgColor: #161616;
$greyColor: #888888;

body {
    background-color: $bgColor;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    font-family: $font;
}


@media only screen and (max-width: 767px) {
    #content-container {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, max-content);
        grid-row-gap: 25px;
        margin-top: 20px;

        .cont-tag {
            font-family: $font;
            color: #fefefe;
            font-size: 14px;
            font-weight: 600;
        }

        #myplaylists-container {
            display: grid;
            grid-template-rows: max-content auto;
            grid-row-gap: 20px;

            .center {
                width: 95%;
                margin: 0 auto;
            }

            #playlists-grid {
                display: flex;
                width: 100%;
                overflow-y: hidden;
                overflow-x: scroll;
                padding: 0px 10px;

                #new-playlist-btn {
                    min-height: 100px;
                    min-width: 100px;
                    border-radius: 20px;
                    border: none;
                    margin-right: 6px;
                    background-color: #212121;
                    background-image: url('../img/icons/add.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 20px;
                }

                .playlist {
                    min-width: 100px;
                    min-height: 100px;
                    border-radius: 20px;
                    background-color: red;
                    margin-right: 6px;
                }

                .last {
                    margin-right: 10px;
                }
            }

            #playlists-grid::-webkit-scrollbar {
                display: none;
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1050px) {

}

@media only screen and (min-width: 1050px) and (max-width: 1400px) {


}

@media only screen and (min-width: 1400px){


}