* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font: 'Poppins', 'sans-serif';
$bgColor: #161616;
$greyColor: #888888;
$inputBg: #2d2d2d;

body {
    background-color: $bgColor;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

li {
    list-style: none;
}

#logo {
    height: 2vh;
}

h1 {
    font-family: $font;
    color: #fefefe;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 650px) {

    #body-container {
        width: 90%;
        margin-top: 15px;
        background-color: green;
    }

}



@media only screen and (min-width: 650px) and (max-width: 1050px) {


}



@media only screen and (min-width: 1050px) {

    body {
        overflow: hidden;
        align-items: center;

        #body-container {
            width: 350px;
            background-color: red;
            height: max-content;
        }
    }

}