* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #121212;
  overflow-x: hidden;
  width: 100vw;
  height: auto;
  font-family: "Poppins", "sans-serif";
}

@media only screen and (max-width: 767px) {
  #content-container {
    width: 100%;
    height: 1400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (max-content)[3];
        grid-template-rows: repeat(3, -webkit-max-content);
        grid-template-rows: repeat(3, max-content);
  }
  #content-container #info-container {
    background-color: red;
    height: 130px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  #content-container #info-container #profile-info {
    height: 100%;
    width: 100%;
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    z-index: 2;
    margin: 0 auto;
  }
  #content-container #info-container #profile-info #user-info {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content auto max-content;
        grid-template-columns: -webkit-max-content auto -webkit-max-content;
        grid-template-columns: max-content auto max-content;
    grid-column-gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  #content-container #info-container #profile-info #user-info #pp-container {
    height: 70px;
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
  }
  #content-container #info-container #profile-info #user-info #pp-container .pp {
    height: 100%;
  }
  #content-container #info-container #profile-info #user-info .user-name {
    font-weight: 600;
    color: #fefefe;
    font-size: 15px;
  }
  #content-container #info-container #profile-info #user-info #sub-btn {
    border: none;
    background-color: #9C4343;
    border-radius: 15px;
    font-family: "Poppins", "sans-serif";
    font-weight: 600;
    color: #fefefe;
    font-size: 12px;
    padding: 10px 20px;
  }
  #content-container #info-container #banner-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #content-container #info-container #banner-container #banner-shadow {
    position: absolute;
    background: #121212;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 18, 0.499037)), to(#121212));
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.499037) 0%, #121212 100%);
    height: 100%;
    width: 100%;
  }
  #content-container #info-container #banner-container #banner {
    height: 100%;
  }
  #content-container #profile-btn-container {
    width: 100%;
    background: #121212;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(18, 18, 18, 0)), color-stop(95%, #121212), to(#121212));
    background: linear-gradient(0deg, rgba(18, 18, 18, 0) 0%, #121212 95%, #121212 100%);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 2;
  }
  #content-container #profile-btn-container #profile-buttons {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
    grid-column-gap: 15px;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  #content-container #profile-btn-container #profile-buttons .tab-btn {
    border: none;
    background-color: transparent;
    font-family: "Poppins", "sans-serif";
    color: #6A6A6A;
    height: 25px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-weight: 600;
    outline: none;
  }
  #content-container #profile-btn-container #profile-buttons .active {
    color: #fefefe;
    font-size: 16px;
  }
  #content-container #previews-container {
    width: 95%;
    margin: 0 auto;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (max-content)[auto];
        grid-template-rows: repeat(auto, -webkit-max-content);
        grid-template-rows: repeat(auto, max-content);
  }
  #content-container #previews-container .preview {
    width: 100%;
    height: 0;
    border-radius: 20px;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
  }
  #content-container #previews-container .preview .preview-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
  }
}
/*# sourceMappingURL=profile.css.map */