* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font: 'Poppins', 'sans-serif';
$bgColor: #121212;
$greyColor: #888888;

body {
    background-color: $bgColor;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    font-family: $font;
}


@media only screen and (max-width: 767px) {
    #content-container {
        width: 100%;
        height: 1400px;
        display: grid;
        grid-template-rows: repeat(3, max-content);

        #info-container {
            background-color: red;
            height: 130px;
            position: relative;
            display: flex;
            justify-content: center;
            overflow: hidden;

            #profile-info {
                height: 100%;
                width: 100%;
                position: absolute;
                display: grid;
                grid-template-rows: auto;
                z-index: 2;
                margin: 0 auto;

                #user-info {
                    width: 95%;
                    display: grid;
                    grid-template-columns: max-content auto max-content;
                    grid-column-gap: 15px;
                    align-items: center;
                    margin: 0 auto;

                    #pp-container {
                        height: 70px;
                        height: 70px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;

                        .pp {
                            height: 100%;
                        }
                    }

                    .user-name {
                        font-weight: 600;
                        color: #fefefe;
                        font-size: 15px;
                    }

                    #sub-btn {
                        border: none;
                        background-color: #9C4343;
                        border-radius: 15px;
                        font-family: $font;
                        font-weight: 600;
                        color: #fefefe;
                        font-size: 12px;
                        padding: 10px 20px;
                    }
                }

            }

            #banner-container {
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                #banner-shadow {
                    position: absolute;
                    background: rgb(18,18,18);
                    background: linear-gradient(180deg, rgba(18,18,18,0.4990371148459384) 0%, rgba(18,18,18,1) 100%);
                    height: 100%;
                    width: 100%;
                }

                #banner {
                    height: 100%;
                }
            }
        }
   
        #profile-btn-container {
            width: 100%;
            background: rgb(18,18,18);
            background: linear-gradient(0deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 95%, rgba(18,18,18,1) 100%);
            position: sticky;
            position: -webkit-sticky;
            top: 0px;
            z-index: 2;

            #profile-buttons {
                width: 95%;
                display: grid;
                grid-template-columns: max-content max-content;
                grid-column-gap: 15px;
                padding: 15px 0px;
                align-items: center;
                margin: 0 auto;

                .tab-btn {
                    border: none;
                    background-color: transparent;
                    font-family: $font;
                    color: #6A6A6A;
                    height: 25px;
                    font-size: 14px;
                    display: flex;
                    align-items: flex-end;
                    font-weight: 600;
                    outline: none;
                }

                .active {
                    color: #fefefe;
                    font-size: 16px;
                }
            }
        }

        #previews-container {
            width: 95%;
            margin: 0 auto;
            height: auto;
            display: grid;
            grid-template-rows: repeat(auto, max-content);

            .preview {
                width: 100%;
                height: 0;
                border-radius: 20px;
                padding-top: 56.25%;
                position: relative;
                overflow: hidden;

                .preview-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: red;
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1050px) {

}

@media only screen and (min-width: 1050px) and (max-width: 1400px) {


}

@media only screen and (min-width: 1400px){


}